/* week 2 assignment */
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}
header{
    background-image: url(../images/flywheel.jpg);
    padding: 15px;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    height: 150px;
}
nav a{
    background-color: rgba(212, 211, 211, 0.623);
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-left: 11%;
}
h2{
    color: rgb(16, 0, 104);
    text-transform: normal;
    font-weight: bolder;
}
.active{
    background-color: rgb(233, 235, 236);
}
.left{
    display:block;
    width: 12%;
    height: 450px;
    float: left;
    background-color: rgb(161, 158, 8);
    padding: 10px;  
}
.left img{
    width: 75%;
    display: block;
    float: left;
    margin: 15px;
    border: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}
.right{
    display: inline-block;
    width: 70%;
    padding: 5px;   
}
body{
    background-color: white;
    margin: 20px;
    padding: 5px;
}

/* WEEK 4 ASSIGNMENT */
table{
    height: 150%;
    width: 70%;    
    /* position: relative; */
    border-left: 70px solid white;
}
th{
    background-color: rgb(112, 155, 49);
    text-align: center; 
    color: rgb(243, 242, 240);  
    padding: 7px; 
    border-radius:4px 4px 0 0;
    border-bottom: solid yellowgreen;
}
tr,td{
    background-color: rgb(190, 197, 180);
    text-align: center;
    opacity: 0.8;
    padding: 5px;
}
tr td:nth-child(1){
    text-align: left;
}
tr th:nth-child(1){
    text-align: left;
}
tr:hover{
    opacity: 0.6;
}